* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.navbar {
  font-family: 'Arial', sans-serif;
 background-image: url("Assets/Hero-bg.png");
  background-color: #f0f2f8;
  background-size: cover;
  background-repeat: no-repeat;
  text-align: center;
  color: #1e1e2f;
  min-height: 100vh;
}